##### Indentation #####
IndentWidth: 4
TabWidth: 4
UseTab: Never

##### Brace Style #####
BreakBeforeBraces: Linux

##### Line Length #####
ColumnLimit: 120

##### Includes #####
SortIncludes: true
IncludeBlocks: Preserve

##### Function Signatures #####
# Permet de garder les signatures sur une seule ligne si elles tiennent
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false

##### Spacing #####
SpaceBeforeParens: ControlStatements

##### Alignment #####
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false

##### Misc #####
ReflowComments: true
SpacesInParentheses: false
